:root {
  --black: #000000;
  --basic-black: #293449;
  --basic-dark: #1D2739;
  --special-text-black: #32425C;
  --black-click: #161D29;
  --basic-red: #EE3643;
  --hover-red: #CA2C37;
  --basic-green: #63A63E;
  --dark-green: #518534;
  --basic-grey: #3D546F;
  --header-grey: #F2F6F8;
  --basic-lightgrey: #EAEAEA;
  --basic-border: #E5E5E5;
  --basic-greylight: #C5C5C5;
  --home-color: #C1C6CE;
  --basic-background: #F1F5F7;
  --basic-line: #F9F5F0;
  --basic-brownlight: #F7F3EC;
  --basic-white: #FFFFFF;
  --special-ylellow: #FFBF47;
  --special-ylellow2: #FFC047;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --background-black: rgba(0, 0, 0, 0.0001);
  --grey-transparent: rgba(255, 255, 255, 0.5);
  --grey-transparent2: rgba(255, 255, 255, 0.3);
  --grey-transparent3: rgba(197, 197, 197, 0.3);
  --grey-transparent4: rgba(169, 169, 169, 0.3);
  --main-font: "Cuprum", "Arial", sans-serif;
  --second-font: "PT Sans", "Arial", sans-serif;
}

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  background-color: var(--background-black);
}

.main-navigation,
.footer-navigation {
  color: var(--basic-white);
  background-color: var(--basic-grey);
}

.text-info {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
}

.top-line {
  background-color: var(--basic-black);
}

.logo {
  background-color: var(--basic-red);
  text-transform: uppercase;
  color: var(--basic-white);
}

.logo:active {
  background-color: var(--error);
}

.bookmarks:active,
.basket:active {
  background-color: var(--black-click);
  color: var(--grey-transparent);
}

.search:active {
  color: var(--grey-transparent);
}
.order {
  background-color: var(--basic-green);
}

.order:hover,
.order:focus {
  background-color: var(--success);
}

.order:active {
  background-color: var(--basic-green);
  color: var(--grey-transparent);
}

.full {
  background-color: var(--basic-red);
}

.phone {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-red);
  text-transform: uppercase;
}

.adress {
  font-size: 14px;
}

.button-entrance,
.button-registry {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--basic-white);
}

.button-entrance:hover,
.button-registry:hover,
.button-entrance:focus,
.button-registry:focus {
  color: var(--basic-red);
}

.button-entrance:active,
.button-registry:active {
  background: var(--background-black);
  color: var(--basic-greylight);
}

.user {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}

.my-orders,
.personal-account,
.exit {
  font-size: 16px;
  line-height: 18px;
  color: var(--special-text-black);
}

.my-orders:hover,
.personal-account:hover,
.my-orders:focus,
.personal-account:focus {
  color: var(--basic-red);
}

.exit {
  color: var(--basic-greylight);
}

.exit:hover,
.exit:focus {
  color: var(--basic-grey);
}

.my-orders:active,
.personal-account:active,
.user:active,
.exit:active {
  color: var(--basic-greylight);
}

.site-navigation,
.footer-navigation-list1,
.footer-navigation-list2 {
  list-style: none;
}

.active-catalog {
  pointer-events: none;
}

.top-line a,
.site-navigation a,
.footer-navigation-list1 a {
  color: var(--basic-white);
}

.footer-navigation-list2 a {
  color: var(--special-yellowlight);
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--basic-black);
}

.site-navigation a:active {
  background-color: var(--basic-dark);
  color: var(--basic-white);
  opacity: 0.5;
}

.breadcrumb-list {
  list-style: none;
}

.breadcrumb-list a {
  font-family: var(--second-font);
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
}

.breadcrumb-list .breadcrumb-home {
  color: var(--home-color);
}

.services-list {
  list-style: none;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.services-list a {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--grey-transparent2);
  color: var(--basic-white);
}

.services-list a:hover,
.services-list a:focus {
  background-color: var(--grey-transparent3);
}

.services-list a:active,
.services-list a:active {
  background-color: var(--grey-transparent4);
}

.services-list h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.popular-goods-line h2 {
  font-size: 30px;
  line-height: 30px;
  color: var(--special-text-black);
}

.materials {
  background-color: var(--special-ylellow);
}

.tool {
  background-color: var(--special-blue);
}

.technic {
  background-color: var(--special-lilac);
}

.sale50 {
  background-color: var(--special-greenlight);
}

.delivery {
  background-color: var(--special-ylellow2);
}

.slider {
  color: var(--basic-white);
}

.slider-list {
  list-style: none;
  background-color: var(--basic-grey);
}

.slider-list h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.header-catalog {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-text-black);
  background-color: var(--header-grey);
}

.header-filter {
  font-family: var(--second-font);
  font-size: 13px;
  line-height: 18px;
  background-color: var(--basic-brownlight);
  font-weight: normal;
}

.sort {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-brownlight);
}

.sort-list {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  font-family: var(--second-font);
}

.sort-link {
  color: var(--black);
  opacity: 0.3;
  border-bottom:1px dotted var(--basic-red);
}

.header-sort {
  font-weight: normal;
}

.active-sort {
  color: var(--basic-red);
  border: none;
  opacity: 1;
  pointer-events: none;
}

.sort-list a:hover,
.sort-list a:focus {
  color: var(--black);
  border-bottom:1px solid var(--basic-red);
  opacity: 1;
}

.goods-list {
  list-style: none;
}

.page-list {
  list-style: none;
}

.page-2,
.page-3,
.next-button {
  font-family: var(--second-font);
  font-size: 13px;
  line-height: 18px;
  border: 1px solid var(--basic-border);
  border-radius: 2px;
  color: var(--black);
}

.page-2:hover,
.page-2:focus,
.page-3:hover,
.page-3:focus,
.next-button:hover,
.next-button:focus {
  border: 1px solid var(--basic-greylight);
}

.page-2:active,
.page-3:active,
.next-button:active {
  border: 1px solid var(--basic-red);
}

.active-page {
  font-family: var(--second-font);
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: 1px solid var(--basic-red);
  border-radius: 2px;
  pointer-events: none;
}

.typical-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.typical-button:hover,
.typical-button:focus {
  background-color: var(--hover-red);
}

.typical-button:active {
  background-color: var(--error);
}

.slider-button,
.slider-button1 {
  list-style: none;
}

.slider-button-slide1,
.slider-button-slide2,
.slider-button-ahead,
.slider-button-back {
  cursor: pointer;
}

.popular-goods-line,
.popular-brands-line {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-text-black);
  background-color: var(--basic-line);
}

.popular-goods-list,
.goods-list {
  list-style: none;
  font-size: 17px;
  line-height: 18px;
  font-family: var(--second-font);
}

.popular-goods-list h3,
.goods-list h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.popular-brands-line h3 {
  font-size: 30px;
  line-height: 30px;
  color: var(--special-text-black);
}

.buy-button {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-green);
  text-transform: uppercase;
}

.buy-button:hover,
.buy-button:focus {
  background-color: var(--success);
}

.buy-button:active {
  background-color: var(--dark-green);
}

.bookmark-button {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 18px;
  color: var(--special-text-black);
  background-color: var(--basic-white);
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
  text-transform: uppercase;
}

.bookmark-button:hover,
.bookmark-button:focus {
  border: 3px solid var(--special-text-black);
}

.bookmark-button:active{
  border: 3px solid var(--special-text-black);
  opacity: 0.5;
}

.popular-brands-list {
  list-style: none;
}

.advantages {
  background-color: var(--basic-background);
}

.advantages h2 {
  font-size: 30px;
  line-height: 30px;
}

.advantages-slogan {
  font-family: var(--second-font);
  font-size: 13px;
  line-height: 24px;
}

.advantages-list {
  list-style: none;
}

.advantages-list h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-text-black);
}

.advantages-list p {
  font-family: var(--second-font);
  font-size: 13px;
  line-height: 24px;
}

.advantages-button {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--special-text-black);
  border: none;
  border-top: 1px solid var(--special-text-black);
  border-bottom: 1px solid var(--special-text-black);
  cursor: pointer;
}

.advantages-button:hover,
.advantages-button:focus {
  background-color: var(--basic-black);
}

.advantages-button:disabled {
  color: var(--special-text-black);
  background-color: var(--basic-white);
  border-top: 1px solid var(--basic-white);
  border-bottom: 1px solid var(--basic-white);
  pointer-events: none;
}

.about-company h2,
.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company p,
.contacts p {
  font-family: var(--second-font);
  font-size: 13px;
  line-height: 24px;
}

.copyright,
.mail,
.dev {
  font-size: 16px;
  line-height: 18px;
}

.info-block {
  background-color: var(--basic-background);
}

.info-block h2 {
  font-size: 30px;
  line-height: 30px;
}

.info-block p {
  font-family: var(--second-font);
  font-size: 13px;
  line-height: 24px;
}

.footer-top-line,
.footer-navigation {
  background-color: var(--special-text-black);
}

.footer-contacts,
.contacts-phone {
  color: var(--basic-white);
}

.footer-line {
  background-color: var(--basic-black);
}

.footer-line {
  color: var(--basic-white);
}

.mail a,
.dev a {
  color: var(--special-yellowlight);
}

.footer-navigation-list1 a:hover,
.footer-navigation-list1 a:focus,
.footer-navigation-list2 a:hover,
.footer-navigation-list2 a:focus,
.mail a:hover,
.mail a:focus,
.dev a:hover,
.dev a:focus,
.contacts-phone:hover,
.contacts-phone:focus {
  text-decoration: underline;
}

.footer-navigation-list1 a:active,
.footer-navigation-list2 a:active,
.contacts-phone:active {
  mix-blend-mode: normal;
  opacity: 0.5;
  text-decoration: none;
}

.mail a:active,
.dev a:active {
  text-decoration: none;
  color: var(--basic-red);
}

.social-list {
  list-style: none;
}

.social-item a{
  color: var(--basic-white);
}

.social-item a:hover,
.social-item a:focus,
.social-item a:active {
  background-color: var(--basic-red);
}

